*{
    margin: 0%;
    padding: 0%;
}

nav{
    background: linear-gradient(rgba(135, 121, 121, 0.7),rgba(230, 159, 222, 0.9),rgba(233, 231, 233, 0.9) ,#9c9ca8b3); 
   
    
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px 5px gray;
    justify-content: space-around;
    display: flex;
    align-items: center;
    position: fixed;
}


.logo h2{
    color: rgb(2, 74, 51);
    text-shadow:  4px 3px 8px rgb(182, 6, 205);
    font-size: 30px;
}

nav .name h2{
   /* color: white; */
    font-size: 50px;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li{
    list-style-type: none;
   
}

nav ul li a{
    text-decoration: none;
    color: rgb(11, 30, 240);
    font-size: 18px;
}

#check{
    display: none;
}

nav .menu i{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}

nav .login a{
    color: black;
    font-size: 18px;
    text-decoration: none;

}
   
.about{
    justify-content: center;
    align-items: center;
 margin-top: 130px;
 background: linear-gradient(rgba(135, 121, 121, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#98989ab3); 
 height: 480px;
 width: 100%;  
 display: flex; 
 margin: 0px 0px;
 padding-top: 186px;
}
.content{
   
    height: auto;
    display: inline-block;
    width: auto;
    padding-left: 30px;
    color: rgb(252, 252, 253);
    margin-top: 50px;
   

}

.content h4{
    color: white;
    text-shadow: 0px 0px 3px blue;
}
.content h2{
    color: white;
    text-shadow: 0px 0px 3px blue;
    text-align:start;
}
.content h5{
    color: white;
    text-shadow: 0px 0px 3px blue; 
}
.content b{
    color: rgb(3, 251, 40);
    text-shadow: 0px 0px 4px blue;
}
.content p{
    
    text-shadow:0px 0px 3px rgb(8, 8, 236);
}
.photo img{
    box-shadow: 0px 0px 45px red  ;
  /* background-image: url(logophotoforramjeet.jpg); */
  
    align-items: center; 
    min-width:320px;
    min-height: 320px; 
    max-height: 320px;
    justify-content: center;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid rgb(210, 218, 246);
  
 
}

.logo{
    
    display: flex;
    margin-left: 17px;
    padding: 8px;
}
.logo a{
    width: 15px;
    height: 15px;
    padding: 7px;
    box-shadow: 0px 0px 7px red;
    border-radius: 50%;
    color: rgb(55, 0, 255);
}
.content button{
   border: 2px solid rgb(251, 20, 23);
    color: rgb(18, 94, 32);
    background-color: transparent;
    border-radius: 50px;
    height: 24px;
    width: 85px;
    margin: 25px;
    box-shadow: 0px 0px 17px rgb(0, 4, 255);
    
}


@media(max-width:800px) {
    .about{
        
    display: block;
 background: linear-gradient(rgba(135, 121, 121, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#a2a2a4b3); 
 height: 800px;
 min-width:320px ;
 display: inline-block;
 margin: 0px 0px;

    }
    .photo{
        max-width: 310px;
        height: auto;
       justify-content:center;
       margin: auto;
    }
   
    
}
.alldf{
    background: linear-gradient(rgba(71, 66, 66, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#95959db3); 
    height: 750px;
    width: 100%; 
    min-width: 320px;
    /* margin-top: -px; */

}
#h2off{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px blue;
   line-height: 67px;
  
}
.alldff{
display: flex;
padding-top: 160px;
justify-content: center;
align-items: center;

}
.fdf{
    height: 280px;
    width: 580px;
    margin:6px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 22px blue;
    border-radius: 9px;
    padding-top: -8px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: blue;
    text-shadow: 0px 0px 12px rgb(255, 255, 255);
}
.fdf h3{
    text-align:  center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 12px rgb(255, 0, 0);
    padding: 20px;
}
.sdf{
    background-image: url(CollegeStudentTour.jpg);
    height: 280px;
    width: 580px;
    display: flex;
    background-size: cover;
    border: 1px solid greenyellow;
    margin: 6px;
    box-shadow: 2px 10px 22px blue;
    border-radius: 9px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


@media(max-width:900px){
    .alldff{
        display: block;
        padding: 10px;
        height: 900px;
        padding-top: 20px; 
       
        
    }
    
    .fdf{
        width: auto;
        height: 300px;
    }
    .sdf{
        width: auto;
        height: 300px;
    }

}


@media (max-width:850px) {
    nav .menu i{
        display: block;
    }

    nav ul{
        /* background: linear-gradient( rgba(146, 207, 218, 0.571),rgba(251, 2, 139, 0.6),rgba(0, 255, 213, 0.5),rgba(0, 255, 0, 0.6));     */
        background-color: rgb(233, 233, 233);
        height: calc(100vh - 100px);
        left: -100%;
        top: 100px;
        bottom: 0;
        flex-direction: column;
        position: fixed;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        transition: .0s all;
    }

    #check:checked ~ ul{
        left: 0;
    }
    
}


@media (max-width:950px) {
     
    .fdata{
     
      width: auto;
       flex-flow: wrap;
    }
    .footer{
      height: 1570px;
     /* padding:  0px,7px,9px;
      */
    
    }
    @media(max-width: 270px){
    .fdata #d1{
        display: block;
    }
    }
}


 
    
.fdata{
 background: transparent; 
 padding-bottom: 60px;
 justify-content: space-around;
 display: flex;  
 width: 100%;
 background: linear-gradient(rgba(71, 66, 66, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#bdbdc8b3);  
 justify-content: space-around;
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 list-style: none;
 text-decoration: none;
 /* backdrop-filter: 3px; */
}


#d1 {
    height: 250px;
    width: 70%; 
    /* background-image:url(graybackgroud.jpeg) ; */
   
    background-size: cover;
    box-shadow:2px 2px 22px rgb(255, 0, 0);
    color: #fe0206b3;
    border: 1px solid rgb(0, 255, 13);
    border-radius: 4px;
    margin-top: 50px;
    border-color: radial-gradient( rgba(242, 255, 0, 0.3),rgba(230, 2, 251, 0.6),rgba(34, 0, 255,0.5),rgba(0, 255, 0, 0.6));
}
.chf1d1{
    color: blue;
    max-height: 255px;
    margin: 5px;
    max-width: 50%;
    box-shadow: 1px 1px 3px;
  
    border: 1px solid rgb(0, 255, 26);

}
.chf1d2{ 
    color: blue;
    max-height: 255px;
    margin: 5px;
    max-width: 50%;
    box-shadow: 1px 1px 3px;
    border: 1px solid rgb(34, 255, 0);
}
#d1{ 
    display: flex;
    /* max-width: ; */
}

#d2 {
    height: 250px;
    width: 70%;
    /* background-image: url(graycheckbackground.jpg); */
    background-size: cover;
    box-shadow:2px 2px 22px rgb(255, 0, 0);
    color: #fe1302b3;
    border: 1px solid rgb(0, 255, 4);
    border-radius: 4px;
    margin-top: 50px;
    border-color: radial-gradient( rgba(242, 255, 0, 0.3),rgba(230, 2, 251, 0.6),rgba(34, 0, 255,0.5),rgba(0, 255, 0, 0.6));
}
#d3 {
    height: 250px;
    width: 70%;
    /* background-image: url(graypage.jpeg); */
    background-size: cover;
    color: #fe0202b3;
    box-shadow:2px 2px 22px rgb(255, 0, 0);
    border: 1px solid rgb(0, 255, 30);
    border-radius: 4px;
    margin-top: 50px;
    border-color: radial-gradient( rgba(242, 255, 0, 0.3),rgba(230, 2, 251, 0.6),rgba(34, 0, 255,0.5),rgba(0, 255, 0, 0.6));
}
#d4 {
    height: 250px;
    width:70%;
    /* background-image: url(graybackgroud.jpeg); */
    background-size: cover;
    color: #fe0202b3;
    box-shadow:2px 2px 22px rgb(255, 0, 0);
    border: 1px solid rgb(9, 255, 0);
    border-radius: 4px;
    margin-top: 50px;
    border-color: radial-gradient( rgba(242, 255, 0, 0.3),rgba(230, 2, 251, 0.6),rgba(34, 0, 255,0.5),rgba(0, 255, 0, 0.6));
}

.progressbar{
    background: linear-gradient( rgba(130, 147, 130, 0.4),rgba(230, 2, 251, 0.4),rgba(8, 0, 255, 0.4),rgba(159, 195, 174, 0.4));
    /* background: linear-gradient(rgba(71, 66, 66, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#3f3f41b3);  */
    min-width: 320px;
}
.progressbar h2{
    
    text-align: center;
}
.progress{
    background-color: radial-gradient( rgba(130, 132, 87, 0.3),rgba(230, 2, 251, 0.6),rgba(34, 0, 255,0.5),rgba(72, 125, 72, 0.6));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
   justify-content: space-around;
}

.skill1{
    width: 165px;
    height: 165px;
    position: relative;
    padding-left: 2px;
}
.outer{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 1px solid red;
    box-shadow:2px 2px 22px  2px blue,
    inset 2px 2px 22px  2px rgb(255, 0, 0) ; 
    background: linear-gradient( rgba(0, 217, 255, 0.3),rgba(251, 2, 139, 0.6),rgba(0, 255, 213, 0.5),rgba(0, 255, 0, 0.6)); 
        
    
}
.inner{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 14.5px;
    box-shadow: 2px 2px 22px  2px blue;
}
#number1{
    margin: 40%;
    font-size: 1em;
    
}
#number1 h4{
    text-align: center;
    margin: -21%;

    /* color: red;
    text-shadow: 2px 2px 2px blue; */
}

.skill2{
    width: 165px;
    height: 165px;
    padding-left: 2px;
    position: relative;

}
.outer2{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    text-size-adjust: 50%;
    border: 1px solid red;
    box-shadow:2px 2px 22px  2px blue, 
    inset 2px 2px 22px  2px rgb(255, 0, 0) ; 
    background: linear-gradient( rgba(0, 217, 255, 0.3),rgba(251, 2, 139, 0.6),rgba(0, 255, 213, 0.5),rgba(0, 255, 0, 0.6)); 
        
    
}
.inner2{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 14.5px;
    box-shadow: 2px 2px 22px  2px blue;
}
#inner2 {
    margin: 400%;
    /* position: relative; */
   
}

.skill3{
    width: 165px;
    height: 165px;
    padding-left: 2px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;

}
.outer3{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 1px solid red;
    box-shadow:2px 2px 22px  2px blue,
    inset 2px 2px 22px  2px rgb(255, 0, 0) ; 
    background: linear-gradient( rgba(0, 217, 255, 0.3),rgba(251, 2, 139, 0.6),rgba(0, 255, 213, 0.5),rgba(0, 255, 0, 0.6)); 
    
}
.inner3{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 14.5px;
    box-shadow: 2px 2px 22px  2px blue;
   
}
#number3{
    margin: 43%;
}
#idn1{ 
    text-indent: 32%;
    /* text-align-last: 30%; */
    margin-top: 35px;
}
.skill4{
    width: 165px;
    height: 165px;
    padding-left: 2px;
    border-radius: 50%;
    position: relative;

}
.outer4{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 1px solid red;
    box-shadow:2px 2px 22px  2px blue,
    inset 2px 2px 22px  2px rgb(255, 0, 0) ; 
    background: linear-gradient( rgba(0, 217, 255, 0.3),rgba(251, 2, 139, 0.6),rgba(0, 255, 213, 0.5),rgba(0, 255, 0, 0.6));    
    
}
.inner4{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 14.5px;
    box-shadow: 2px 2px 22px 2px blue;
   
}
.hover #number4 h4{
    text-align: center;
    margin-top: -5px;
    margin-left: -16px;
}
#number4{
    margin: 40%;
}
#number4 h4{
    text-align: center;
    margin-top: -5px;
    margin-left: -16px;

    /* margin: -37%; */
    /* color: red;
    text-shadow: 2px 2px 2px blue; */
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-dasharray: 210; 
    stroke-width: 13px;
    stroke-dashoffset: 472;
    animation: cir 2s linear forwards;
    stroke-linecap: butt;

}
svg{
    position: absolute;
    
    top: 0;
    left: 0;

}
.Location{
    height: 70px;
    min-width: 35px;
}
/* @keyframes cir{
    100%{
        stroke-dashoffset: 0;
        color: #f70505;
        background-color: #ff0000;
    }
    

} */

  
  .foo h2{
    box-shadow: 1px 1px 1px 1px rgb(221, 0, 255);
} 
  footer{
  
    width: 100%;
    background-color: rgb(244, 232, 232);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    text-decoration: none;

}
.footer{
    height: 530px;
    width: 100%;
    background: linear-gradient(rgba(71, 66, 66, 0.4),rgba(70,121,178,0.7),rgba(195, 93, 195, 0.7) ,#a5a5adb3);
    min-width: 270px;
   
 }
footer .foo{
    margin-top: 17px;
}
.foo ul li {
    list-style: none;
   
    

}
.foo ul li a{
    text-decoration: none;
  

}
.pictest img{
  
    background-color: #cda7a7; 
    width: 130px;
    height: 100px;
    display: inline-flex;
}



/* <<<<<<<---- Education ---->>>>>>> */
 .eduparent{
    height: auto;
    width: 100%;
    color: #fefefe;
    text-shadow:  red 1px 1px 4px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    margin: 2px;
}
.bodyh2{
    justify-content: center;
    text-align: center;
    color: #f82504;
    text-shadow:  greenyellow 1px 3px;
    background-color: rgb(241, 193, 246);
    padding: 15px;
}

#H10th{
    height: 500px;
    width: 32%;
    background-color: rgb(170, 216, 235);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;

} 
#H10th h2{
    color: rgb(109, 255, 47);
    padding-top: 17px;
    padding-bottom: 9px;
}
#I12th{
    height: 500px;
    width: 32%;
    background-color: rgb(170, 216, 235);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
}
#I12th h2{
    color: rgb(47, 255, 54);
    padding-top: 17px;
    padding-bottom: 9px;
}
#greduation{
    height: 500px;
    width: 32%;
    background-color: rgb(170, 216, 235);
    border: 1px solid rgb(255, 4, 0);
    border-radius: 3px;
}
#greduation h2{
    color: rgb(47, 255, 54);
    padding-top: 17px;
    padding-bottom: 9px;
}


/* <<<<<<<<<--------indexhome-------->>>>>>>> */
 body .indexhom{
    width: 100%;
    height:100vh ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(158, 220, 245);
}
@keyframes indexhom{
    0%{
        background-color: black;
        
    }
    25%{
        background-color: rgb(197, 232, 249);
        
    }
    50%{
        background-color: rgb(196, 150, 150);
        
    }

    75%{
        background-color: rgb(179, 238, 239);
        
    }
    100%{
        background-color: rgb(63, 61, 61);
        
    }

}
/* <<<<<<-------GALLERY------->>>>>> */

#indgallery{
    background-color: rgb(242, 201, 232);
    padding: 2px;
    border: 2px solid rgb(226, 43, 198);
}
.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    grid-auto-rows: 370px;
    grid-auto-flow: dense;
   
}
.grid-wrapper > img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block; 
    
     
}
.grid-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 1px 0px 1px blue;

}
.box:hover{
    border:  solid rgb(121, 224, 110);
    border-radius: 5px;
    /* height: auto;
    width: auto; */
    transition-duration: 0s;
}

/* <<<<<<<<----CONTECT US----->>>>>>>> */


.contper{
    background: linear-gradient( rgba(167, 224, 234, 0.3),rgba(223, 189, 208, 0.6),rgba(174, 209, 203, 0.5),rgba(190, 229, 190, 0.6));    
    border: 1px solid red;
    height: 550px;
    width: 98%;
    margin: 9px;
    padding: 7px;
    filter: drop-shadow(1px 1px 7px rgb(209, 2, 250));
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.contchild1{
    height: 420px;
    width: 50%;
    margin:  3px;
    border: 1px solid rgb(9, 255, 0);
    /* justify-content:center; */
    align-items: center;
    filter: drop-shadow(1px 1px 7px rgb(2, 2, 250));
    background-color: rgba(121, 122, 121, 0.906);
}
.contchild1 h2{
    color: rgb(21, 0, 255);
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 7px red;
}
#continp1 input{ 
    margin-top: 30px;
    width: 75%;
    margin-left: 25px;
    display: block;
    padding: 9px;
    justify-content: space-between;
}
#continp1 button{ 
    margin-top: 30px;
    width: 22%;
    padding: 5px;
    margin-left: 60%;
    color: rgb(2, 156, 17);
    border-radius: 3px;
}

.contchild2{
    height: 420px;
    width: 50%;
    margin:  3px;
    align-items: center;
    display: block;
    border: 1px solid rgb(9, 255, 0);
    filter: drop-shadow(1px 1px 7px rgb(2, 2, 250));
    background-color: rgba(121, 122, 121, 0.906);
}
.contchild2 h2{
    color: rgb(21, 0, 255);
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 7px red;
}
 /* .contchild2 textarea {
    width: 98%;
    height: 32%;
    margin: 2px;
    margin-top: 10px;
    background-color: rgb(228, 227, 227);
    border: 2px solid yellow;
}  */
 .contchild2 textarea{
    width: 97%;
    height: 32%;
    padding: 4px;
    align-items: center;
    justify-content: center;
    /* margin: 4px; */
    margin-top: 20%;
    background-color: rgb(228, 227, 227);
    border: 2px solid rgb(154, 154, 150);
}
.contchild2 button{
    margin-top: 30px;
    width: 22%;
    padding: 5px;
    margin-left: 60%;
    color: rgb(2, 156, 17);
    border-radius: 3px;
}

@media(max-width:600px){
    .contper{
        background-color: rgb(133, 133, 174);
        border: 1px solid red;
        height: auto;
        width: auto;
        margin: 7px;
        justify-content: space-around;
        display: block;
    }
    .contchild1{
        
        width: 98%;
        height: 32%;
        margin: 4px;
        /* margin-top: 20%; */
        background-color: rgb(228, 227, 227);
        border: 2px solid rgb(178, 178, 155);
    }
    .contchild2{
        
            width: 98%;
            height: 32%;
            margin: 4px;
            background-color: rgb(228, 227, 227);
            border: 2px solid rgb(154, 154, 150);
        
    }
    .contchild2 textarea{
        width: 96%;
        height: 140px;
        /* margin: 4px; */
        margin-top: 60px;
        background-color: rgb(228, 227, 227);
        border: 2px solid rgb(154, 154, 150);
    }
    
}





/* <<<<<-------Login------>>>>> */
  
.logbdy{
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient( rgba(0, 217, 255, 0.3),rgba(206, 72, 146, 0.6),rgba(126, 178, 169, 0.5),rgba(86, 192, 86, 0.6)); 
    background-size: cover;
   
    height: 520px;
    width: auto;
}
.logbox{
    border: 2px solid rgb(229, 5, 249);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 305px;
    width: 230px;
    background-color:l ;
    background-image: url("CollegeStudentTour.jpg");
    
    align-items: center;
    justify-content: center;
    filter: drop-shadow(1px 1px 9px rgb(7, 46, 243));


    
}
.logbox h2{
    text-align: center;
    color: rgb(11, 37, 232);
    margin-top: 42px;
    text-shadow: 1px 1px 14px orange;
    /* align-items: center;
    justify-content: center; */
   
}
.loginp1{
    text-align: center;
    color: violet;
    padding-top: 28px;


}
.loginp2{
    text-align: center;
    color: violet;
    padding: 4px;


}
.logfsp{
    text-align: center;
    color: violet;
    margin-top: 45px;

}
.logfsp input{
    width: 33%;
    margin-top: 13px;
}

